body, html {
  height: 100%;
}

body {
  background-color: $white;
  color: $dark-grey;
  font-family: $font-family;
  font-size: 1.25rem;
}

pre {
  font-family: $font-family;
  font-size: 1.25rem;
  max-width: 100%;
}

.logoRamen {
  width: 70px;
}

/* Start Navbar */

.navbar {
  color: black;
  font-size: 1.5rem;

  .list-nav ul{
    width: 100%;
    text-align: center;
    li {
      width: 30%;
    }
  }

  @media screen and (max-width: 1000px) {

    .list-nav ul li {
      width: auto;
    }
  }
}
/* End Navbar */

/* Start Header */
.header{

  height: 20vh;
  display: flex;

  h1{
    text-align: center;
    font-family: $font-family-title;
    font-size: 3rem;
    background-color: #b5c2bfcc;
    width: 50%;
    margin: auto;
    border-radius: 10px;
  }
}

.content {
  margin-top: 10vh;
  padding-bottom: 50px;
  padding-top: 20px;
  background-color: $white;
}
/* End Header */