{% extends 'base.html.twig' %}

{% block title %}Recettes favorites{% endblock %}

{% block body %}

    <div class="homepage">
        <div class="header">
            <h1>Recettes Maison</h1>
        </div>
        <div class="content">
            <h2>Mes recettes préférées</h2>

            <div class="cards-recipe">
                {% for recipe in recipesFavorites %}
                    {% include 'components/_card.html.twig' %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}