<div class="card mt-3" style="width: 18rem;">
    <img src="{{ asset('build/cook-6.jpg') }}" class="card-img-top" alt="picture-cook">
    <div class="card-body">
        <h5 class="card-title">Catégorie de la recette</h5>
        <p class="card-text">Titre de la recette</p>
        <a href="#" class="btn btn-card">Voir la recette</a>
    </div>
</div>